/* .icon {
    position: absolute;
    top: 60px;
    left: 62px;
    width: 50px;
    height: 50px;
  }
  
  .title {
    font-family: Arial, sans-serif;
    font-size: 14px;
    fill: white;
    text-anchor: middle;
    dominant-baseline: middle;
  }

  .hexagonIconOuter {
    fill: #1e2530;
    transition: filter 0.3s ease-in-out;
  }
  
  .hexagonIconOuter:hover {
    filter: drop-shadow(0 0 15px #00ff99);
  }
  
  .hexagonIcon {
    fill: #4CAF50;
  }
  
  .hexagonIcon:hover {
    fill: #81C784;
  } */
  
  .icon {
    /* font-size: 24px; */
    color: rgb(235, 125, 40);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0 0 5px rgb(235, 125, 40)) drop-shadow(0 0 10px rgb(235, 125, 40));
  }

  .icon:hover,
  .icon:focus-visible {
    color: rgb(235, 125, 40);
    filter: brightness(115%);
    filter:
    drop-shadow(0 0 0.25rem rgb(235, 125, 40));
  }
  
  .title {
    font-size: 1rem;
    font-weight: lighter;
    text-anchor: middle;
    text-transform: uppercase;
    dominant-baseline: middle;
  }
  .link {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    position: relative;
  }

  .title:hover {
    font-size: large;
  }

  .link:hover {
    opacity: 0.8;
  }
  
  /* HexagonIcon.module.css */
.hexagonIcon {
  cursor: pointer;
  transition: transform 0.2s;
}

.hexagonIcon:hover {
  transform: scale(1.1);
}
/* HexagonIcon.module.css */
.hexagonIcon {
  cursor: pointer;
  transition: transform 0.2s;
}

.active {
  filter:
  drop-shadow(0 0 0.4rem #FFBF00);
  transform: scale(1.1);
}

/* .active {
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.6); /* Glowing effect */
  /* transform: scale(1.1); */

  /* .icon {
    position: absolute;
    top: 60px;
    left: 62px;
    width: 1px;
    height: 1px;
  }

  .title {
    font-family: Arial, sans-serif;
    font-size: 14px;
    fill: white;
    text-anchor: middle;
    dominant-baseline: middle;
  }
  
  
   */