  /* COPY OF THE STYLING FROM THE DELETED NAVMENU CSS FILE */
 .InnerHexagon {
    fill: #44474d;
    stroke:#FFBF00;
    stroke-width: 2;
 }
  .navLink {
    padding: 10px;
    margin: 5px;
    vertical-align: baseline;
    position: relative;
  } 
    .hexagonIconOuter path{
      stroke: orange;
      stroke-width: 1.5; 
      fill: #44474d; 
      
    }
    .InnerHexagon:hover {
        filter: drop-shadow(0 0 10px orange);
    }

    .hexagonIconOuter:hover,
    .hexagonIconOuter:focus {
      transition-duration: 800ms;
        transform: scale(1.2);
    }
  /*
  .hexagonIcon path {
    stroke: orange; */
     /* Outline color */
    /* stroke-width: 0.4;  */
    /* Outline thickness in pixels */
    /* fill: #44474d; 
  } */
  
  
   .hexagonIcon:hover svg
   {
    transition-duration: 200ms;
    transform: scale(1.2);
    filter: 
    drop-shadow(0 0 0.4rem #FFBF00) ;
    z-index: 3;
  }
  
  .hexagonIcon:hover,
  .hexagonIcon:focus {
      transition-duration: 800ms;
      transform: scale(1.2);
      filter: 
      drop-shadow(0 0 0.25rem #FFBF00)  
  } 
  
  .icon:hover {
    color: rgb(235, 125, 40);
     filter: brightness(115%);
     z-index: 2;
  }
  
  .title:hover {
    font-size: large;
  }

  /* Shared text and icon styles */
  .icon {
    position: absolute;
    top: 60px;
    left: 62px;
    width: 50px;
    height: 50px;
  }
  
  .title {
    font-family: Arial, sans-serif;
    font-size: 14px;
    fill: white;
    text-anchor: middle;
    dominant-baseline: middle;
  }
  
  