/* .hexagonIconOuter {
    fill: #44474d;
    transition: filter 0.3s ease-in-out;
  } */
  .OuterHexagon {
    fill: var(--hexagon-in);
    stroke: rgb(235, 125, 40);
    stroke-width: 1.5;
  }

  /* .hexagonIconOuter:hover {
    filter: drop-shadow(0 0 15px #ffbf00);
  } */
  
  /* .hexagonIcon {
    fill: #44474d;
  } */
  
 /* styling of the actuall icon in the middle of the hexagon icon */

    .hexagonIconOuter path{
      stroke: rgb(235, 125, 40);
      stroke-width: 1.5; 
      fill: #44474d; 
    }

    .hexagonIconOuter:hover,
    .hexagonIconOuter:focus {
      transition-duration: 800ms;
        transform: scale(1.2);
    }

     .hexagonIcon:hover svg
   {
    transition-duration: 200ms;
    transform: scale(1.2);
    filter: 
    drop-shadow(0 0 0.1rem rgb(235, 125, 40)) ;
    z-index: 3;
  }
  
  .hexagonIcon:hover,
  .hexagonIcon:focus {
      transition-duration: 800ms;
      transform: scale(1.2);
      filter: 
      drop-shadow(0 0 0.2rem #FFBF00)  
  } 
  
  /* .icon:hover {
    color: rgb(235, 125, 40);
     filter: brightness(115%);
     z-index: 2;
  } */
  
  
  
  