.title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
  }
  .title:hover {
    font-size: x-large;
  } 
  
  .iconContainer {
    /* list-style-type: none; */
    padding: 0rem;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    overflow:visible;
    z-index: 0;
  } 

  .hexagonIcon {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: visible;
  }

  .hexagonIcon2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: visible;
  }

  .hexagonIcon path {
    stroke: orange; /* Outline color */
    stroke-width: 1.5; /* Outline thickness in pixels */
    fill: #3d4148; /* Fill color */
  }

.hexagonIcon:hover svg,
.hexagonIcon:active svg
{
  transition-duration: 300ms;
    transform: scale(1.2);
    filter:  
    /* center glow */
    drop-shadow(0 0 2px #FFBF00)
}

/* .hexagonIcon2:hover svg, 
.hexagonIcon2:active svg,
.hexagonIcon2:focus svg {
    transition-duration: 300ms;
      transform: scale(1.2);
      filter: 
      drop-shadow(0 0 3px #FFBF00)
  } */

.hexagonIcon:hover path,
.hexagonIcon:focus path
/* .hexagonIcon:active path { */{
    transition-duration: 400ms;
    filter: brightness(120%);
    transform: scale(1.1);
    filter: 
    drop-shadow(0 0 2px #FFBF00)     
}

.hexagonIcon:hover path,
.hexagonIcon:focus path {
    transition-duration: 400ms;
    filter: drop-shadow(0 0 3px #FFBF00)
}

#FontAwesomeIcon:hover
#FontAwesomeIcon:focus
 {
    filter: drop-shadow(0 0 3px #FFBF00);
}

