.title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
  }
  .title:hover {
    font-size: x-large;
  } 
  
  .iconContainer {
    /* list-style-type: none; */
    padding: 0rem;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    overflow:visible;
    z-index: 1;
  } 

  .hexagonIcon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0rem;
    margin:2rem;
    
  }
  .hexagonIcon path {
    stroke: orange; /* Outline color */
    stroke-width: 3; /* Outline thickness in pixels */
    fill: #3d4148; /* Fill color */
  }

.hexagonIcon:hover svg,
.hexagonIcon:active,
.hexagonIcon:focus {
  transition-duration: 300ms;
    transform: scale(1.2);
    filter: 
    /* center glow */
    drop-shadow(0 0 5px #FFBF00)
}

.hexagonIcon2:hover svg, 
.hexagonIcon2:active svg,
.hexagonIcon2:focus svg {
    transition-duration: 300ms;
      transform: scale(1.2);
      filter: 
      /* center glow */
      drop-shadow(0 0 3px #FFBF00)
  }

.hexagonIcon:hover path,
.hexagonIcon:focus path,
.hexagonIcon:active path {
    transition-duration: 400ms;
    filter: brightness(110%);
    transform: scale(1.1);
    filter: 
      /* center glow */
      drop-shadow(0 0 3px #FFBF00)     
}

.hexagonIcon:focus path,
.hexagonIcon:active path {
    filter: drop-shadow(0 0 3px #FFBF00)
}

#FontAwesomeIcon:hover
#FontAwesomeIcon:focus
#FontAwesomeIcon:active {
    filter: drop-shadow(0 0 3px #FFBF00);
}

