.title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
  }
  .title:hover {
    font-size: x-large;
  } 
  
 
  .iconContainer {
    /* list-style-type: none; */
    padding: 0rem;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    overflow: visible;
  } 

  .hexagonIcon path {
    stroke: orange; /* Outline color */
    stroke-width: 1; /* Outline thickness in pixels */
    fill: #3d4148; /* Fill color */
    
  }


.hexagonIcon:hover svg {
  transition-duration: 300ms;
    transform: scale(1.2);
    filter: 
    /* center glow */
    drop-shadow(0 0 5px #FFBF00)
}

.hexagonIcon2:hover svg {
    transition-duration: 300ms;
      transform: scale(1.2);
      filter: 
      /* center glow */
      drop-shadow(0 0 4px #FFBF00)
  }

.hexagonIcon:hover path {
    filter: brightness(110%);
    transform: scale(1.1);
    filter: 
      /* center glow */
      drop-shadow(0 0 3px #FFBF00)
      
}
