/* You can place the global CSS file anywhere and use any name. So let’s do the following:

Create a top-level styles directory and a global.css file.
Add the following CSS inside styles/global.css. This code 
resets some styles and changes the color of the a tag: */

html, body {
  display: flex;
  flex-direction: column;
  vertical-align: stretch;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  overflow: visible;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #1b1b1b;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  /* font-size: 1rem; */
  text-align: left;
  font-style: normal;
  text-decoration: none;
  letter-spacing: normal;
  text-wrap: nowrap;
  background-color: rgb(161, 160, 160);
}

p {
  padding: 0.5vw 2vw;
  margin: 0;
  margin: auto 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-position: inside;
}

li {
  list-style: none;
  
}

* {
  box-sizing: border-box;
} 

/* html,
body {
  padding: 0;
  margin: 0;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} 

img {
  max-width: 100%;
  height: auto;
} */
