/* You can place the global CSS file anywhere and use any name. So let’s do the following:

Create a top-level styles directory and a global.css file.
Add the following CSS inside styles/global.css. This code 
resets some styles and changes the color of the a tag: */

body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  overflow: visible;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  line-height: 1.5;
  font-size: 1rem;
  text-align: left;
  background-color: rgb(118, 118, 118);
}

p {
  padding: 5vw;
  margin: 0;
}

* {
  /* padding: 0;
  margin: 0; */
  box-sizing: border-box;
  /* list-style: none; */
  font-family: "Montserrat", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-position: inside;
}

/* html,
body {
  padding: 0;
  margin: 0;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
} */
